:root {
    --color-basic-white: #f0ffff;
    --color-basic-white-80: rgba(240, 255, 255, 0.3);

    --color-dark-charcoal: #494949;
    --color-dark-charcoal-20: #49494933;
    --color-dark-charcoal-60: #49494999;
    --color-dark-charcoal-70: #494949b3;
    --color-pitch-black: #010000;
    --color-onyx: #161515;
    --color-matte-black: #0c0c0c;
    --color-royal-blue: #3057a2;
    --color-dark-brown-gray: #595653;
    --color-light-gray: #d0d0d0;
    --color-vivid-orange-red: #f54932;
    --color-graphite: #1f1f1f;
    --color-slate-gray: #424241;
    --color-goldenrod: #fbce51;
    --color-pale-pinkish-white: #fbfafc;
    --color-smoky-gray: #d9d9d9;
    --color-beige: #e9ded4;
    --color-linear: linear-gradient(to right, #e8dcd1 0%, #ffffff 100%);
    --color-brown: #845731;
}
